<!-- <ngx-charts-bar-vertical
[view]="[700, 400]"
[results]="single"
[gradient]="false"
[xAxis]="true"
[yAxis]="true"
[legend]="true"
[showXAxisLabel]="true"
[showYAxisLabel]="true"
[xAxisLabel]="'Country'"
[yAxisLabel]="'Value'"
[barPadding]="8"
[roundEdges]="true"
[showDataLabel]="true">
    </ngx-charts-bar-vertical> -->
<div style="text-align: center; margin-bottom: 20px;">
    <h4>Histograma de Precios en dolares</h4>
</div>
<ngx-charts-bar-vertical
  [view]="view"
  [results]="histogramData"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Valores'"
  [yAxisLabel]="'Frecuencia'"
  [barPadding]="20"
  [roundEdges]="true"
  [showDataLabel]="true">
</ngx-charts-bar-vertical>
  
